
@require 'new-parts/box'
@require 'new-parts/color'
@require 'new-parts/font-pix'
@require 'new-parts/text'


body
	font-family '微软雅黑'
	position relative
	background #f9f9f9

.animate
	-webkit-transition all .5s ease-in-out
	-moz-transition all .5s ease-in-out
	-o-transition all .5s ease-in-out
	transition all .5s ease-in-out
	
.left-panel
	text-align right

	.h1
		font-size 19px
		font-weight bold
		font-family 'Times New Roman'
		a
			color #888
	h1.h1 a
		color #333
		
	.pdb
		padding-bottom 10px

@media (max-width:768px)
	.left-panel
		text-align left

#nav .active > a
	background #fafafa
	color #666

.main
	background #fff
	background rgba(255,255,255,.95)
	min-height 800px
	
//wrapper
#wrapper
	position relative
	z-index 2

.post
	line-height 2
	
//canvas bg
#bg
	position absolute
	width 100%
	left 0
	top 0
	bottom 0
	z-index 1
	#cbg
		width 100%
		height 100%

//sidenav
#sidenav
	width 200px
	position fixed
	bottom 5%
	right 0
	text-align right
	max-height 90%
	font-size 12px
	z-index 100
	&.scroll
		overflow-y scroll
	p
		margin 2px 0
	ul
		list-style none
		padding 0
		margin 0
		display none
		-webkit-transition 0.5s
		-moz-transition 0.5s
		-ms-transition 0.5s
		-o-transition 0.5s
		transition 0.5s
		li
			margin 2px 0
	&:hover
		ul
			display block
	a
		display inline-block
		padding 3px 4px
		background #fff
		border-radius 3px 0 0 3px
		&:hover
			background #08c
			color #fff

@media (max-width:768px)
	#sidenav
		display none