doctype html
html
  head
    title Html to pug converter
    meta(name='description' content='Convert html to pug online, it is free.')
    meta(name='keywords' content='html, pug, html2pug, converter, free')
    include ../../parts/react-header

  body
    #main
      #container.main
    include ../../parts/react-common
    include ../../parts/react-footer
