doctype html
html
  head
    title Css to Stylus converter
    meta(name='description' content='Convert css to stylus online, it is free.')
    meta(name='keywords' content='css, stylus, converter, free')
    include ../../parts/react-header

  body
    #container
    include ../../parts/react-common
    script(crossorigin, src='//cdn.jsdelivr.net/npm/css2stylus@0.5.0/lib/css2stylus.min.js')
    include ../../parts/react-footer
