doctype html
html
  head
    title Universe background
    meta(name="description" content="Create captivating animated universe backgrounds for HTML pages using three.js. Add interactive and dynamic visual effects to your web pages with animations.")

    meta(name="keywords" content="Animation, Background, three.js, Shapes, Interactive, Dynamic, Universe, Particles, Motion, Web Animation")

    include ../../parts/react-header

  body
    #main
      #container.main
    script(crossorigin, src='https://www.unpkg.com/three@0.155.0/build/three.min.js')
    include ../../parts/react-footer
