.pd2y
  .fix
    a.fleft(href=host)
      span.icon.icon-arrow-left.mg1r html5beta.com
    span.fright
      .a2a_kit.a2a_kit_size_32.a2a_floating_style.a2a_vertical_style
        a.a2a_button_facebook
        a.a2a_button_twitter
        a.a2a_button_wechat
        a.a2a_dd(href="https://www.addtoany.com/share")