/*! Icons.css v0.1.0 | MIT License | github.com/picturepan2/icons.css */
.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
}

.icon::before,
.icon::after {
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon.icon-2x {
  font-size: 32px;
}

.icon.icon-3x {
  font-size: 48px;
}

.icon.icon-4x {
  font-size: 64px;
}
