@require './icon'

.icon-arrow-left::before {
  border: .1rem solid currentColor;
  border-bottom: 0;
  border-right: 0;
  height: .65em;
  width: .65em;
}

.icon-arrow-left::before {
  transform: translate(-25%, -50%) rotate(-45deg);
}
