@require './icon'
.icon-share
  border .1rem solid currentColor
  border-radius .1rem
  border-right 0
  border-top 0
  &::before
    border .1rem solid currentColor
    border-left 0
    border-top 0
    height .4em
    left 100%
    top .25em
    transform translate(-125%, -50%) rotate(-45deg)
    width .4em
  &::after
    border .1rem solid currentColor
    border-bottom 0
    border-radius 75% 15%
    border-right 0
    height .6em
    top 55%
    width .6em

