doctype html
html
  head
    title QR Code Generator
    meta(name='description' content='Generate QR codes online with customizable options.')
    meta(name='keywords' content='QR code, generator, online, customizable, free')
    include ../../parts/react-header

  body
    #main
      #container.main
    include ../../parts/react-common
    script(crossorigin, src='https://cdn.jsdelivr.net/npm/qrious/dist/qrious.min.js')
    include ../../parts/react-footer
