script.
	window.h5 = {
		host: !{JSON.stringify(host)}
		,cdn: !{JSON.stringify(cdn)}
	}

script(src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.min.js')
script(src=cdn + '/share/js/vender/tether.min.js')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js')
script(src=cdn + '/apps/h5/js/min/pack.js?' + version)
script(src='//platform-api.sharethis.com/js/sharethis.js#property=64cb3056b97aed0012e4652e&product=sticky-share-buttons', async)