div#footer-widgets.aligncenter
	div#footer-widget-area.widget-area.container
		div.mgt
			h3.widget-title About the Author
		div.textwidget
			p.aligncenter
				| ZHAO Xudong [
				a(href='/page/timeline.html')  resume 
				| ], web developer.
			p.aligncenter
				a(rel='external nofollow', href='//github.com/zxdong262') github 
				| - 
				a(rel='external nofollow', href='//stackoverflow.com/users/615576/zhao-xudong') stackoverflow 
				| - 
				a(rel='external nofollow', href='//weibo.com/html5beta') weibo 
				| - 
				a(rel='external nofollow', href='mailto:zxdong@gmail.com') email 
				| - 
				a(rel='external nofollow', href='javascript:alert("986839138")') QQ
