#footer
	hr
	div.container.aligncenter
		p
			span.blogdescription html5beta.com by ZHAO Xudong
		p.exp
			span.iblock.mgr.mgb some buttons:  
			a.btn.btn-primary.addBubble.mgr.mgb(href='javascript:;', title='Add a bubble') Add one more
			a.btn.btn-warning.faster.mgr.mgb(href='javascript:;', title='Faster') Faster
			a.btn.btn-danger.fish.mgr.mgb(href='javascript:;', title='Oh my heart!') Change!
			a.btn.btn-secondary.stop.mgr.mgb(href='javascript:;', title='Pause/Continue') Stop it!
		div#debug
