div#header
	div.container.alignright
		button.change-shape.btn.btn-sm.btn-warning.mgr(type='button', title='change the background shapes!') change!
		span.h1
			a(href='//html5beta.com', title=slogon) #{siteName}
