
script(crossorigin, src='//cdn.jsdelivr.net/npm/react@19.1.1/cjs/react.production.min.js')
script(crossorigin, src='//cdn.jsdelivr.net/npm/react-dom@19.1.1/cjs/react-dom.production.min.js')
script(crossorigin, src='//cdn.jsdelivr.net/npm/canvas-shapes-bg/dist/canvas-shapes-bg.min.js')
//- script.
//-   console.log(URL)
//-   Object.defineProperty( window, 'URL', {
//-     writable: false
//-   })
//-   Object.defineProperty(obj, 'readOnlyProp', {
//-   value: 'This property is read-only',
//-   writable: false, // Make it read-only
//-   enumerable: true, // Can be enumerated
//-   configurable: false, // Can't be deleted or reconfigured
//- });


- if (dev)
  script(type='module').
    import RefreshRuntime from '/@react-refresh'
    RefreshRuntime.injectIntoGlobalHook(window)
    window.$RefreshReg$ = () => {}
    window.$RefreshSig$ = () => (type) => type
    window.__vite_plugin_react_preamble_installed__ = true
  script(src='/@vite/client', type='module')
  script(src=jsUrl, type='module')
- else
  script(src=jsUrl, type='module')
script(crossorigin, async, src='https://www.googletagmanager.com/gtag/js?id=G-0FRVEJZ2Z2')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0FRVEJZ2Z2');
