script(crossorigin, src='//unpkg.zhimg.com/react@18/umd/react.production.min.js')
script(crossorigin, src='//unpkg.zhimg.com/react-dom@18/umd/react-dom.production.min.js')
script(src='//platform-api.sharethis.com/js/sharethis.js#property=64cb3056b97aed0012e4652e&product=sticky-share-buttons', async)
script(src=jsUrl)