
//- script(crossorigin, src='https://cdn.jsdelivr.net/npm/react@18.0.0/umd/react.production.min.js')
//- script(crossorigin, src='https://cdn.jsdelivr.net/npm/react-dom@18.0.0/umd/react-dom.production.min.js')
script(crossorigin, src='//cdn.jsdelivr.net/npm/canvas-shapes-bg/dist/canvas-shapes-bg.min.js')
script(defer, src='https://static.addtoany.com/menu/page.js')
//- script.
//-   console.log(URL)
//-   Object.defineProperty( window, 'URL', {
//-     writable: false
//-   })
//-   Object.defineProperty(obj, 'readOnlyProp', {
//-   value: 'This property is read-only',
//-   writable: false, // Make it read-only
//-   enumerable: true, // Can be enumerated
//-   configurable: false, // Can't be deleted or reconfigured
//- });
- if (dev)
  script(type='module').
  script(src='/@vite/client', type='module')
  script(src=jsUrl, type='module')
- if (!dev)
  script(crossorigin, async, src='https://www.googletagmanager.com/gtag/js?id=G-0FRVEJZ2Z2')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-0FRVEJZ2Z2');
