script(crossorigin, src='//unpkg.zhimg.com/react@18/umd/react.production.min.js')
script(crossorigin, src='//unpkg.zhimg.com/react-dom@18/umd/react-dom.production.min.js')
script(src=jsUrl)
script.
		var _gaq=[["_setAccount","UA-18213564-1"],["_trackPageview"]];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";s.parentNode.insertBefore(g,s)}(document,"script"))