//
	.post-share.aligncenter
		span.iblock.pdr share to»
		span.iblock
			span.social.twitter
				a(rel='external nofollow', title='Post to twitter', href='//api.addthis.com/oexchange/0.8/forward/twitter/offer?url=#?title=##') twitter this
			span.social.facebook
				a(rel='external nofollow', title='Post to facebook', href='//api.addthis.com/oexchange/0.8/forward/facebook/offer?url=#?title=##') facebook this
			span.social.weibo
				a(rel='external nofollow', title='Post to weibo', href='//api.addthis.com/oexchange/0.8/forward/sinaweibo/offer?url=#?title=##') Weibo this
			span.social.addthis
				a(rel='external nofollow', title='add this to...', href='//api.addthis.com/oexchange/0.8/offer?url=#?title=##') add this