doctype html
html
  head
    title Canvas Shapes Background for webpage
    meta(name="description" content="Create captivating animated backgrounds for HTML pages using canvas and shapes. Add interactive and dynamic visual effects to your web pages with canvas animations.")

    meta(name="keywords" content="Animation, Background, Canvas, Shapes, Interactive, Dynamic, Visual Effects, Particles, Motion, Web Animation")

    include ../../parts/react-header

  body
    #main
      #container.main
        include qr.pug

    include ../../parts/react-common
    include ./qr-js.pug
    include ../../parts/react-footer
