.pd2
  include ../../react/header.pug

  h1.pd3y Canvas Shapes Background for webpage
  p
    a(href='https://github.com/zxdong262/canvas-shapes-bg', rel='noreferrer', target='_blank') https://github.com/zxdong262/canvas-shapes-bg
  .pd1y
    span.mg2r.pointer.mg2b#toggle-btn Stop animation
    span.pointer.mg2b.mg2r#change-btn Change animation shapes
    span.pointer.mg2b.mg2r#random-btn Use random animation shapes
  .pd1y
    .pd1y.pd3t
      input.mg2r.pointer.borderb#text-input(type='text', placeholder='Input text')
    button#render-btn(color='primary') Render
  include ../../react/footer.pug
  
