body
  overflow-x hidden
.img
  max-width 100%

#main
  position relative
  z-index 1

#ca
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  z-index -1

h1, h2
  font-family 'Kaushan Script', cursive

body
  color #333
.color-grey
  color #666

#copy
  display none