@require './common.styl'
.container
  display flex
  flex-wrap wrap

.column
  flex 1
  padding 20px
  background-color #f1f1f1

h1
  color #333
  font-size 46px
  text-align center
  padding 40px 0
h2
  padding-left 10px
ul
  padding-left 10px
#content
  margin 0 auto
  max-width 800px
  background rgba(255,255,255,.95)
  height 100vh
  overflow-y scroll
  border-left 1px solid #eee

@media (max-width: 800px)
  .column
    flex-basis 100%

